@model IEnumerable<KendoUIApp1.Models.Task>
@using Kendo.Mvc.UI
@using KendoUIApp1.Models.Gantt

@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <h1>Kendo UI Gantt Chart Demo</h1>
        </div>
    </div>
}
<div>
    <button id="p1btn">Phase 1</button>
    <button id="p2btn">Phase 2</button>
</div>
<div>
    <div id="phase1">
        @(Html.Kendo().Gantt<TaskViewModel, DependencyViewModel>()
            .Name("gantt")
            .Columns(columns =>
            {
                columns.Bound(c => c.TaskID).Title("ID").Width(50);
                columns.Bound("title").Editable(true).Sortable(true);
                columns.Bound("start").Title("Start Time").Format("{0:MM/dd/yyyy}").Width(100).Editable(true).Sortable(true);
                columns.Bound("end").Title("End Time").Format("{0:MM/dd/yyyy}").Width(100).Editable(true).Sortable(true);
            })
            .Views(views =>
            {
                views.DayView();
                views.WeekView(weekView => weekView.Selected(true));
                views.MonthView();
            })
            .Height(700)
            .ShowWorkHours(false)
            .ShowWorkDays(false)
            .Snap(false)
            .DataSource(d => d
                .Model(m =>
                {
                    m.Id(f => f.TaskID);
                    m.ParentId(f => f.ParentID);
                    m.OrderId(f => f.OrderId);
                    m.Field(f => f.Expanded).DefaultValue(true);
                })
                .Read("ReadTasks", "Home")
            //.Create("CreateTask", "Home")
            //.Destroy("DestroyTask", "Home")
            //.Update("UpdateTask", "Home")
            )
        //.DependenciesDataSource(d => d
        //    .Model(m =>
        //    {
        //        m.Id(f => f.DependencyID);
        //        m.PredecessorId(f => f.PredecessorID);
        //        m.SuccessorId(f => f.SuccessorID);
        //        m.Type(f => f.Type);
        //    })
        //    .Read("ReadDependencies", "Home")
        ////.Create("CreateDependency", "Home")
        ////.Destroy("DestroyDependency", "Home")
        ////.Update("UpdateDependency", "Home")
        //)
        )
    </div>
    <div id="phase2" ></div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expanded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentComplete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expanded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaskID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskID })
            </td>
        </tr>
    }

</table>

<script>    
    /**********************
     * PHASE 1
     *********************/
    //$("#phase1").kendoGantt({
    //  dataSource: [
    //        {
    //            id: 0,
    //            orderId: 0,
    //            parentId: null,
    //            title: "Fabrication",
    //            start: new Date("2016/6/13 9:00"),
    //            end: new Date("2016/7/01 11:00"),
    //            complete: "20"
    //        },
    //        {
    //            id: 1,
    //            orderId: 1,
    //            parentId: null,
    //            title: "Assembly",
    //            start: new Date("2016/6/15 12:00"),
    //            end: new Date("2016/7/06 14:00")
    //        },
    //        {
    //            id: 2,
    //            orderId: 2,
    //            parentId: null,
    //            title: "Shipment",
    //            start: new Date("2016/6/17 12:00"),
    //            end: new Date("2016/7/11 14:00")
    //        },
    //        {
    //            id: 3,
    //            orderId: 3,
    //            parentId: null,
    //            title: "Installation",
    //            start: new Date("2016/6/21 12:00"),
    //            end: new Date("2016/7/12 14:00")
    //        },
    //        {
    //            id: 4,
    //            orderId: 4,
    //            parentId: null,
    //            title: "Signoff",
    //            start: new Date("2016/7/07 12:00"),
    //            end: new Date("2016/7/14 14:00")
    //        }
    //    ],
    //    resources: {
    //        dataSource: [
    //            { id: 0, name: "You can extra info like this", color: "green", format: "p0" },
    //            { id: 1, name: "This is important info", color: "#ff0000", format: "p1" },
    //            { id: 2, name: "Here some cautionary info", color: "#ffff00", format: "p2" }
    //        ]
    //    },
    //    assignments: {
    //    dataSource: [
    //        { taskId: 0, resourceId: 0, value: 1 },
    //        { taskId: 1, resourceId: 1, value: 1 },
    //        { taskId: 2, resourceId: 2, value: 1 }
    //    ]
    //    },
    //    views: ["week", "month", "year"],
    //    columns: [
    //        { field: "title", title: "Stage" },
    //        { field: "resources", title: "Task Resources" }
    //    ]
    //});

    /**********************
     * PHASE 2
     *********************/
    $("#phase2").kendoGantt({
        dataSource: [
              {
                  id: 5,
                  orderId: 5,
                  parentId: null,
                  title: "Fabrication",
                  start: new Date("2016/6/15 9:00"),
                  end: new Date("2016/7/01 11:00"),
                  complete: "20"
              },
              {
                  id: 6,
                  orderId: 6,
                  parentId: null,
                  title: "Assembly",
                  start: new Date("2016/6/13 12:00"),
                  end: new Date("2016/7/06 14:00")
              },
              {
                  id: 7,
                  orderId: 7,
                  parentId: null,
                  title: "Shipment",
                  start: new Date("2016/6/16 12:00"),
                  end: new Date("2016/7/11 14:00")
              },
              {
                  id: 8,
                  orderId: 8,
                  parentId: null,
                  title: "Installation",
                  start: new Date("2016/6/21 12:00"),
                  end: new Date("2016/7/12 14:00")
              },
              {
                  id: 9,
                  orderId: 9,
                  parentId: null,
                  title: "Signoff",
                  start: new Date("2016/7/07 12:00"),
                  end: new Date("2016/7/14 14:00")
              }
        ],
        resources: {
            dataSource: [
                { id: 0, name: "You can extra info like this", color: "green", format: "p0" },
                { id: 1, name: "This is important info", color: "#ff0000", format: "p1" },
                { id: 2, name: "Here some cautionary info", color: "#ffff00", format: "p2" }
            ]
        },
        assignments: {
            dataSource: [
                { taskId: 0, resourceId: 0, value: 1 },
                { taskId: 1, resourceId: 1, value: 1 },
                { taskId: 2, resourceId: 2, value: 1 }
            ]
        },
        views: ["week", "month", "year"],
        columns: [
            { field: "title", title: "Stage" },
            { field: "resources", title: "Task Resources" }
        ]
    });
    $(document).ready(function () {
        $("#phase2").hide();
        $("#p1btn").click(function () {
            $("#phase1").show();
            $("#phase2").hide();
        });
        $("#p2btn").click(function () {
            $("#phase1").hide();
            $("#phase2").show();
        });
    });
</script>